
<br>
<div class="text-Left">
<button type="submit" class="btn btn-primary" (click)="onNew()">New Registration</button>
</div>
<br>
<div class="regentry" *ngIf="showNew">
<form (ngSubmit)="onSave()">
  <div class="form-group row">
    <label for="name-input" class="col-2 col-form-label">Name</label>
    <div class="col-10">
      <input class="form-control" type="text" [(ngModel)]="regModel.name" name="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="email-input" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input class="form-control" type="text" [(ngModel)]="regModel.email" name="email">
    </div>
  </div>
 
  <div class="form-group row">
    <label for="course-input" class="col-2 col-form-label">Course</label>
    <div class="col-10">
      <input class="form-control" type="email" [(ngModel)]="regModel.course" name="course">
    </div>
  </div>
  
 
   
 
  <button type="submit" class="btn btn-success">{{submitType}}</button>
  <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
</form>
<br>
<br>


</div>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let send of registrations; let  i = index">

        <td >{{ i + 1 }}</td>
           <td>{{send.name}}</td>
           <td>{{send.email}}</td>
           <td>{{send.course}}</td>
           <td>
            <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>
          </td>
       </tr>
    </tbody>
  </table>